*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 100vw;
  max-height: 100vh;
  padding: 10px;
}
.container{
  width: 100%;
  height: 100%;
}
#balance{
  width: auto;
  height: 65px;
}
.accounts{
  width: 100%;
  height: auto;
  display: flex;
}
#income{
  width: 50%;
  height: 50px;
  border: 1px solid black;
  padding: 5px;
}
#income>p{
  font-weight: bold;
  color: green;
}
#expense{
  width: 50%;
  height: 50px;
  border: 1px solid black;
  padding: 5px;
}
#expense>p{
  font-weight: bold;
  color: darkred;
}
h4{
  margin: 10px;
  text-align: center;
}
.item{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  list-style-type: none;
  position: relative;
  padding: 5px;
  margin-bottom: 5px;
}
.item.plus{
  border-right: 5px solid #2ecc71;
}
.item.minus{
  border-right: 5px solid darkred;
}
.item:hover .delete{
  display: block;
}
#transactions{
  width: 100%;
  height: auto;
}
.text{
  width: auto;
  height: 30px;
  margin-right: 3px;
  line-height: 30px;
}
.amount{
    width: auto;
    height: 30px;
    margin-left: 3px;
    line-height: 30px
}
.delete{
  display: none;
  width: 40px;
  height: 40px;
  background-color: darkred;
  color: white;
  position: absolute;
  right: 0px;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  border-radius: 10px 0 0 10px;
  transition: 1s;
}
#text-input{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  display:block;
  margin: 15px 0 15px 0;
  outline: none;
}
#text-input::placeholder{
  padding-left: 10px;
}
#amount-input{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  display:block;
  outline: none;
}
#amount-input::placeholder{
  padding-left: 10px;
}
#submit{
  height: 40px;
  display: block;
  margin: 15px auto 0 auto;
  background-color: cadetblue;
  outline: none;
  border-style: none;
  padding: 5px;
  color: white;
  border-radius: 10px;
}
.container>p{
  font-size: 9px;
  text-align: center;
  margin-top: 5px;
  color: #898989;
}